dj-database-url==0.5.0
Django==3.2.4
django-channels-presence==1.0.0
django-crispy-forms==1.10.0
django-on-heroku==1.1.2
django-phone-field==1.8.1
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.39.0
gunicorn==20.1.0
h5py==3.1.0
imageio==2.9.0
incremental==17.5.0
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.18.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-server==1.4.0
jupyterlab==3.0.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
matplotlib==3.4.2
notebook==6.2.0
numpy==1.19.5
opencv-python==4.5.2.54
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0

urllib3==1.26.6
asgiref==3.3.4
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2==2.8.6
pytz==2021.1
sqlparse==0.4.1
typing-extensions==3.7.4.3
whitenoise==5.3.0
requests
patch
django-mathfilters
